body {
  background-color: #f5f5f5;
}

.maggan {
  max-width: 800px;
}

.lt-card{
  background-color: white;
  border: 1px solid #dbdbdb;
  height: 500px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;

}
.lt-card-body{
  padding-bottom: 40px;

}